
    <h1>Webcam Streaming</h1>
    <video id="videoElement" style="width: 150px;" autoplay></video>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        // Connect to the Socket.IO server
        var socket = io();
        function sendPing() {
        var startTime = Date.now();
        socket.emit('ping');
        socket.once('pong', function() {
            var endTime = Date.now();
            var pingTime = endTime - startTime;
            console.log('Ping time:', pingTime, 'ms');
        });
    }

    // Send ping every 5 seconds
    setInterval(sendPing, 5000);
        // Get the video element
        var videoElement = document.getElementById('videoElement');

        // Request access to the webcam
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                // Display the webcam stream in the video element
                videoElement.srcObject = stream;

                // Send the webcam stream to the server
                var mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.ondataavailable = function(event) {
                    socket.emit('stream', event.data);
                };
                mediaRecorder.start();
            })
            .catch(function(err) {
                console.error('Error accessing the webcam:', err);
            });
    </script>

