<!-- Inside ./partials/login.ejs -->
<div class="loginBox">
    <h2>Login Methods:</h2>
    <% if (typeof user === 'object' && user) { %>
        <p>You are logged in as <%= user.firstName %> <%= user.lastName %></p>
        <p>email <%= user.email %></p>
        <a href="/logout"><button>logout</button></a>
        <button id="loginClose">close</button>
    <% } else { %>
        <div id="authOptions">
            <button id="localAuthButton">Login with Email</button>
            <button id="googleAuthButton"><a style="text-decoration: none;" href="/auth/google">Login with Google</a></button>
        </div>

        <div class="loginFlows" id="emailLoginForm" style="display: none;">
            <div class="loginForm">
                <form action="/auth/local" method="post">
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email" required><br>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" required>
                    <button id="loginButton" type="submit">Login</button>
                </form>
                <h5>Forgot your password? <span style="color:blue; cursor: pointer;" onclick="showResetInput()" id="resetLink">reset password</span></h5>
                <div id="resetEmailInput" style="display: none;">
                    <form id="resetPasswordForm">
                        <h2>Reset Password ℹ️</h2>
                        <h3>You will receive an email to securely reset your password.</h3>
                        <h4>Enter your email to send a reset link</h4>
                        <input id="resetPassInput" name="email" type="email" required>
                        <button id="resetPassButton" type="submit">Request Password Reset</button>
                    </form>
                    <button onclick="showResetInput()">close this window</button>
                </div>
            </div>
        </div>
        <h6>Login Issues? email <a href="mailto:w2marketing.scott@gmail.com">support</a></h6>
    <% } %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const localAuthButton = document.getElementById('localAuthButton');
    const emailLoginForm = document.getElementById('emailLoginForm');
    const resetLink = document.getElementById('resetLink');
    const resetEmailInput = document.getElementById('resetEmailInput');
    const resetPasswordForm = document.getElementById('resetPasswordForm');
    const resetPassInput = document.getElementById('resetPassInput');
    const resetPassButton = document.getElementById('resetPassButton');

    localAuthButton.addEventListener('click', function() {
        emailLoginForm.style.display = (emailLoginForm.style.display === 'none' ? 'block' : 'none');
    });

    resetLink.addEventListener('click', function() {
        resetEmailInput.style.display = (resetEmailInput.style.display === 'none' ? 'block' : 'none');
    });

    resetPasswordForm.addEventListener('submit', async function(event) {
        event.preventDefault();
        try {
            const response = await fetch('/reset-password-request', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email: resetPassInput.value })
            });

            if (response.ok) {
                resetEmailInput.style.display = 'none';
                alert('Please check your email for your secure password reset link.');
            } else {
                alert("Hmmmm..something's not right \n\n User email not found, double check your email is correct. \n\n *Have you registered this email before?\n You must register before logging in the first time*");
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });

    resetPassInput.addEventListener('input', function() {
        if (!resetPassInput.value.includes('@')) {
            resetPassButton.style.display = 'none';
        } else {
            resetPassButton.style.display = 'block';
            resetPassButton.style.marginLeft = '8%';
        }
    });
});
</script>
