<div id="settings">
    SETTINGS
    <div id="avatarUpload">
AVATAR UPLOAD
<%-include('../forms/user/avatarUpload')%>
    </div>




    <div><h6>notes:</h6></div>
    <div><p>
upload and use sharp to save a regualr and thumbnail, add an  option to your avatar token in the dash too.

The upload should add to a pool of avatars, max 3 more for premium members. (st pattys xmas and so forth will incetivize this need for more than 3)
</p></div>
</div>
<script>
    

// const settingsButtonControl= ()=> {
// const toggleAvatarUpload = document.getElementById('toggleAvatarUpload');

// const avatarUploadDiv = document.getElementById('avatarUpload');

// const buttonCtlGroups = [ 
// {button:toggleAdmin,div:adminDiv},
// {button:toggleWallet,div:walletDiv}
// ];
//   console.log('walletButtonControl() ran');
//   for (let i = 0; i < buttonCtlGroups.length; i++) {
//     const btn = buttonCtlGroups[i].button;
//     const div = buttonCtlGroups[i].div;
//     console.log(div)
//     console.log(btn)
//     btn.addEventListener('click', function () {
//       if (div.style.display === "block") {
//         div.style.display = 'none';
//       } else {
//         for(let i =0;i<buttonCtlGroups.length;i++){
//           buttonCtlGroups[i].div.style.display='none'
//         }
//                 div.style.display = 'block';
//       }
//     });
//   }
// }
// document.addEventListener('DOMContentLoaded', settingsButtonControl);


</script>