<div id="userNav">
    <div class="userNavLink"><button>settings</button></div>
    <div class="userNavLink"><button>cart</button></div>
    <div class="userNavLink"><button>rewards</button></div>
    <div class="userNavLink"><button>jewels</button></div>
    <div class="userNavLink"><button>help</button></div>
    <div class="userNavLink"><button><a href="/logout"> logout</a></button></div>
</div>