<div class="adminWindow">
    <div class="adminStatsRow">
      <% documents.forEach(avatar => { %>
        <div class="adminStat">
          <p><%= avatar.altText %></p>
          <img alt="Avatar image" src="<%= avatar.avatarUrl %>">
          <button class="collapsible">view: <span class="carrot">&#9654;</span></button>
          <div class="content" data-url="/avatars/renderEditForm/<%= avatar._id %>"></div>
          <h3>add multiple images to avatar slides</h3>
          <form action="/avatars/<%=avatar._id%>/upload-images" method="post" enctype="multipart/form-data">
            <input type="file" name="images" multiple>
            <button type="submit">Upload</button>
          </form>
        </div>
      <% }) %>
    </div>
  </div>
  