
<h2>Heres the Footer</h2>
<div class="footerDiv"><%=config.footerMessage%></div>
<div class="footerContainer">
<div class="footerDiv">
    <div class="footImg">
     <img src="" alt="img1">
    </div>
</div>
<div class="footerDiv">
    <div class="footImg">
       <img src="" alt="img2">
    </div>
</div>

<div class="footerDiv">
<div class="linksBlock">
    <div class="linkBlock">
        <div class="blockLink">link1</div>
        <div class="blockLink">link2</div>
        <div class="blockLink">link3</div>
        <div class="blockLink">link4</div>
    </div>
</div>
</div>

</div>
<h6>This progressive web application is developed by <a style="color:rgb(255, 225, 230)" href="https://w2marketing.biz">W2 Marketing LLC </a>, and is licensed for exclusive use of their operating partners. All rights reserved.</h6>

