
<div class="footerContainer">
<div class="footerDiv">
    <div class="footImg">
     img 1
    </div>
</div>
<div class="footerDiv"><%=config.footerMessage%></div>
<div class="footerDiv">
    <div class="footImg">
       img2
    </div>
</div>



</div>
<h6>This progressive web application is developed by <a style="color:rgb(255, 225, 230)" href="https://w2marketing.biz">W2 Marketing LLC </a>, and is licensed for exclusive use of their operating partners. All rights reserved.</h6>
