
<div class="footerContainer">
<div class="footerDiv">
    <div class="footImg">
     <img src="" alt="img1">
    </div>
</div>
<div class="footerDiv"><%=config.footerMessage%></div>
<div class="footerDiv">
    <div class="footImg">
       <img src="" alt="img2">
    </div>
</div>



</div>
<h6>This progressive web application is developed by <a style="color:rgb(255, 225, 230)" href="https://w2marketing.biz">W2 Marketing LLC </a>, and is licensed for exclusive use of their operating partners. All rights reserved.</h6>
<div id="authDiv">
    <a id="login_ctrl">login</a> / <a id="reg_ctrl">register</a>
</div>
     <div id="login_div"><%- include('../auth/login',{user:user,message:message})%></div>   
     <div id="register_div"><%- include('../auth/register',{user:user,message:message})%></div>   