<style>
  .readerpopupDiv{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
background-color:white;
position:fixed;
top: 0;
left:0;
z-index: 200;
h1{color:black}
  }
  .readerpopupSection{

  }
</style>
<div class="readerpopupDiv">
<h1>pop up div</h1>
<button onclick="readerClose()" class="readerCloseButton">close this reader</button>
</div>

