<!--ejs partial no head or body here-->
 <!--/views/admin/videoLead/videoProduction-->
 <h1>Video Production</h1>

  <!-- Form to upload videos -->
  <form id="uploadForm" action="/videoProduction/upload" method="post" enctype="multipart/form-data">
    <input id="video" type="file" name="video" />
    <button type="submit">Upload</button>
  </form>
  
  <!-- Display uploaded videos -->
  <h2>Uploaded Videos</h2>
  <button class="collapsible">Get Videos<span class="carrot"></span></button>
  <div class="content" data-url="/videoProduction/getVideos"></div>
  <div id="videoList"></div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var socket = io('/video_production');

      // Handle video upload
      var uploadForm = document.getElementById('uploadForm');
      uploadForm.addEventListener('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(uploadForm);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/videoProduction/upload', true);
        xhr.onload = function() {
          if (xhr.status === 200) {
            alert('Video uploaded successfully!');
            socket.emit('newVideo', JSON.parse(xhr.responseText).video);
          } else {
            alert('Error uploading video');
          }
        };
        xhr.send(formData);
      });

      // Get videos
      var getVideosButton = document.querySelector('.collapsible');
      console.log(`VIDEOPRODUCTION.EJS ~ get vids`)
      getVideosButton.addEventListener('click', function() {
        var contentDiv = document.querySelector('.content');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', contentDiv.getAttribute('data-url'), true);
        xhr.onload = function() {
          if (xhr.status === 200) {
            contentDiv.innerHTML = xhr.responseText;
          } else {
            alert('Error fetching videos');
          }
        };
        xhr.send();
      });
    });
  </script>
