<!--ejs partial no head or body here-->
<!--/views/admin/videoLead/videoProduction-->
<h1>Video Production</h1>


<% if (typeof videos == 'object' && videos) { %>
  <style>
  </style>
    <h1>Broadcast Videos</h1>
    <p>Video will play to all connected user on the Webapp.</p>
  <div class="video_container">
    <% videos.forEach(video => { %>
      <div class="video-card">
        <div class="videoTitle"><%= video.name %></div>
        <div data-video="<%= video.url %>" class="btn play-video">Play</div>
      </div>
    <% }); %>
  </div>
<% } %>

<button class="collapsible">Add Video<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/videos/renderAddForm"></div>
<button class="collapsible">Get Videos<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/videos/all"></div>
<h2>create a Parlor Room:</h2>
<input id="roomName" name="name" type="text" placeholder="Room Name">
<button class="good" onclick="createRoom()">Create Room</button>


<script src="/socket.io/socket.io.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var socket = io('/socketAdmin');

    // Handle video upload
    var uploadForm = document.getElementById('uploadForm');
    uploadForm.addEventListener('submit', function(e) {
      e.preventDefault();
      var formData = new FormData(uploadForm);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/videoProduction/upload', true);
      xhr.onload = function() {
        if (xhr.status === 200) {
          alert('Video uploaded successfully!');
          socket.emit('newVideo', JSON.parse(xhr.responseText).video);
        } else {
          alert('Error uploading video');
        }
      };
      xhr.send(formData);
    });

    socket.on('connect', () => {
      console.log('Connected to videoProduction Client');
    });

    document.addEventListener('click', (event) => {
      if (event.target.classList.contains('play-video')) {
        const videoUrl = event.target.getAttribute('data-video');
        console.log('Playing video', videoUrl);
        // Emit socket event to play video
        socket.emit('broadcast',  {videoUrl});
      }
      
      if (event.target.classList.contains('marqueeButton')) {
        const marqueeMessage = document.getElementById('marqueeMessage').value;
        console.log('Button clicked', marqueeMessage);
        socket.emit('marquee', { message: marqueeMessage });
        console.log('Marquee event emitted');
      }
    });
  });
</script>
