<!-- views/layouts/games/gameMenu.ejs -->
<div id="gameMenu">
    <h1>Game Menu</h1>
    <div id="playerList"></div>
    <button id="startGameButton" style="display: none;">Start Game</button>
    <button id="exitGameRoomButton">Exit Game Room</button>
</div>
