<div id="launcher">
    <h1>Welcome to the Game Launcher</h1>
    <div id="playerListLauncher"></div> <!-- Player list in the launcher -->
    <div id="gameSelection">
        <ul>
            <li><a href="#" class="gameSelection" data-game="bingo">Bingo</a></li>
            <li><a href="#" class="gameSelection" data-game="66b69192d0af5031d8ffdcae">Dominoes</a></li>
            <li><a href="#" class="gameSelection" data-game="ginrummy">Gin Rummy</a></li>
            <li><a href="#" class="gameSelection" data-game="gemGrinderGame">Gems</a></li>
        </ul>
    </div>
</div>

<div id="gameRoom" class="content" style="display: none;">
    <h1>Game Room</h1>
    <div id="playerList"></div>
    <button id="startGameButton" style="display: none;">Start Game</button>
    <button id="exitGameRoomButton">Exit to Launcher</button> <!-- Exit button to return to launcher -->
</div>

<div id="gameSession" style="display: none;">
    <h1>Game Session</h1>
    <canvas id="gameCanvas" width="800" height="600"></canvas>
    <button id="exitGameSessionButton">Exit to Launcher</button> <!-- Exit button to return to launcher -->
</div>

<div id="cardTable" style="display: none;">
    <h1>Card Table</h1>
    <canvas id="cardTableCanvas" width="800" height="600"></canvas>
    <button id="exitCardTableButton">Exit to Launcher</button> <!-- Exit button to return to launcher -->
</div>
