<div id="launcher">
    <h1>Welcome to the Game Launcher</h1>
    <div id="playerListLauncher"></div> <!-- Player list in the launcher -->
    <div id="gameSelection">
        <ul>
            <li><a href="#" data-game="bingo">Bingo</a></li>
            <li><a href="#" data-game="dominoes">Dominoes</a></li>
            <li><a href="#" data-game="ginrummy">Gin Rummy</a></li>
            <li><a href="#" data-game="gemGrinderGame">Gems</a></li>
        </ul>
    </div>
</div>

<div id="gameRoom" style="display: none;">
    <h1>Game Room</h1>
    <div id="playerList"></div>
    <button id="startGameButton" style="display: none;">Start Game</button>
</div>

<div id="gameSession" style="display: none;">
    <h1>Game Session</h1>
    <canvas id="gameCanvas" width="800" height="600"></canvas>
</div>

