<div id="launcher">
    <h1>Welcome to the Game Launcher</h1>
    <div id="gameSelection">
      <ul>
        <li><a href="/games/bingo">Bingo</a></li>
        <li><a href="/games/card">Card Game</a></li>
      </ul>
    </div>
  </div>
  