<div id="gameContainer"></div>
<div id="launcher"><%if(typeof data =='object'&& data){%>
    <%data.forEach(data =>{%>
        <h1><%=data.name%></h1><button onclick="joinGame('<%=data._id%>')">join a session</button>
   <%})%>
    <%}%>
</div>
