<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=config.title%></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  </head>

  <body>      
    <div id="main">

<div>
 ADMIN PAGE ~  <a href="/">go HOME</a> 
  </div>
  
  <div class="adminButtonsDiv">
    <button class="adminButtons" id="toggleUsers" value="Toggle Users">Manage Users</button>
    <button class="adminButtons" id="toggleDraft" value="Toggle Draft Cards">Manage Cards</button>
    <button class="adminButtons" id="toggleCard" value="add new card design">Add a Card</button>
    <button class="adminButtons" id="toggleFont" value="Toggle Font Upload">Upload Fonts</button>
    <button class="adminButtons" id="toggleOrders" value="Toggle Orders">Manage New Orders</button>
    <button class="adminButtons" id="toggleOrdersToPrint" value="Toggle Orders">Manage to Print Orders</button>
    <button class="adminButtons" id="toggleTicketsAdmin" value="Toggle Tickets">Manage Tickets</button>
    <button class="adminButtons" id="toggleLogs" value="Toggle Logs">Manage Logs</button>
  </div>

<div class="adminDiv" id="users"><%- include('./partials/users',{users:users, message:message})%></div>
<div class="adminDiv" id="ticketsAdmin"><%- include('./partials/adminTickets',{users:users, message:message, tickets:tickets})%></div>
<div class="adminDiv" id="logs"><%- include('./partials/logs',{logs:logs})%></div>

      <!--MENU IS CONSTANT FOOTER-->
     
 
    </div>    
  
  <script src="/javascripts/loader.js"></script>

  
  </body>

</html>

