<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>whoops!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
</head>
<body>      
  
    <div id="header">
        <div id="headerContainer_cell">
          <img class="header"src="/images/banner_cell.jpg" alt="">
        </div>
        
      </div>
  <div id="main">
   
      <h3>error message: <%=error%></h3>
      
      <a href="/">Go back</a>
      <h6>status code: <%=error.status%></h6>
   
    <script src="/javascripts/loader.js"></script>
</body>
    </html>