<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%=config.title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
</head>
<body>      
  
  <div id="main">

    <%if(pageType =="registration"){%>
      <h3>Check your Email to confirm your identity</h3>
    <h3>Thank you for registering to <%=config.app_name%></h3>

  <%}%>
    <%if(pageType =="password"){%>
      <h3>Check your Email and follow the link to reset your password</h3>
    <h3>Thank you for registering.</h3>

  <%}%>
 
      <a href="/">Go back</a>
    
   
    <script src="/javascripts/loader.js"></script>
</body>
    </html>