<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%=config.title%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
</head>
<body>      
  <%if(typeof webappSettings === 'object'&& webappSettings){%>
    <div id="mainBanner" style="background-image: url(<%=webappSettings[0].mainBannerDesktop%>);" class="banner">
      <%}%>
    <%if(pageType =="registration"){%>
      <h3>Check your Email to confirm your identity</h3>
    <h3>Thank you for registering to <span class="brand_title_font"><%=config.app_name%></span></h3>
  <%}%>
    <%if(pageType =="password"){%>
      <h3>Check your Email and follow the link to reset your password</h3>
    <h3>Thank you for registering.</h3>
  <%}%> 
      <a href="/"><h3>Go to Royal Splendor</h3></a>   
    <script src="/javascripts/loader.js"></script>
</body>
    </html>