<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Password Reset</h1>
    

    
    <!-- Password reset form -->
    <form action="/passwordReset/<%= resetToken %>" method="POST" onsubmit="return validateForm()">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        
        <button type="submit">Reset Password</button>
    </form>
    
    <script>
        function validateForm() {
            const newPassword = document.getElementById("newPassword").value;
            const confirmPassword = document.getElementById("confirmPassword").value;

            if (newPassword !== confirmPassword) {
                alert("Passwords do not match. Please make sure they match.");
                return false; // Prevent form submission
            }

            return true; // Allow form submission if passwords match
        }
    </script>
        <script src="/javascripts/loader.js"></script>
</body>
</html>
