transactions.ejs

<button class="collapsible">Get transactions<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/transactions/all"></div>
<button class="collapsible">Create a transaction<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/transactions/renderAddForm"></div>
items.ejs

<button class="collapsible">Get items<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/items/all"></div>
<button class="collapsible">Create a item<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/items/renderAddForm"></div>