
<!--/views/admin/chat/index.ejs-->
chat.ejs

<button class="collapsible">Get ChatRooms<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/chats/all" ></div>
<button class="collapsible">Create ChatRooms<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/chats/renderAddForm" ></div>

</script>
