<div id="notifications">
  <h3>  Your Notifications:</h3>
<div id="notificationsSection"></div>


<h3>Community Updates</h3>
<div class="userStats">
  <div class="statContainer">              
    <div class="statTitle">Last Chance to Vote</div>
  <div class="stat">Travel Destination</div>
</div>
  <div class="statContainer">              
    <div class="statTitle">Bingo Nights</div>
  <div class="stat">Every Tuesday at 8pm EST</div>
</div>
</div>

            <h3>Recent Stats</h3>
            <div class="userStats">
              <div class="statContainer">              
                <div class="statTitle">Comments last 7 days</div>
              <div class="stat">34</div>
            </div>
              <div class="statContainer">              
                <div class="statTitle">Games last 7 days</div>
              <div class="stat">34</div>
            </div>
              <div class="statContainer">              
                <div class="statTitle">Dominoes record</div>
              <div class="stat">W (4) - L (14)</div>
            </div>
              <div class="statContainer">              
                <div class="statTitle">Bingo record</div>
              <div class="stat">W (2) - L (8)</div>
            </div>

            </div>



</div>
<script>

</script>
