
<div class="auth_view_true" style="background-image: url('./images/span1.png');">
  <div style="background-image: url('/images/hugeIcon.png');" class="index-container">
    <h1>Shop Now!!</h1>
      <button class="collapsible">View Products<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/shopify-storefront/products"></div>
  </div>
</div>


<div class="auth_view_true" style="background-image: url('./images/span3.png');">
  <div style="background-image: url('/images/hugeIcon.png');" class="index-container">
    <h1>CUSTOM SECTION</h1>
    <h1>CUSTOM SECTION</h1>
    <h1>CUSTOM SECTION</h1>
    <h1>CUSTOM SECTION</h1>
  </div>
</div>
<div class="auth_view_true" style="background-image: url('./images/span1.png');">
  <div style="background-image: url('/images/hugeIcon.png');" class="index-container">
    <h1>CUSTOM SECTION</h1>
    <h1>CUSTOM SECTION</h1>
    <h1>CUSTOM SECTION</h1>
    <h1>CUSTOM SECTION</h1>
  </div>
</div>



<script src="/socket.io/socket.io.js"></script>
