<h1>AUTHORIZED VIEW</h1>
<div style="background-image: url('./images/span1.png');" class="auth_view_true"></div>
<div style="background-image: url('./images/span2.png');" class="auth_view_true"><div class="loaderEmpty">LOADER</div></div>
<div style="background-image: url('./images/span3.png');" class="auth_view_true"></div>

    