
<button class="collapsible">Get Games<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/games/all"></div>
<button class="collapsible">Add Games<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/games/renderAddForm"></div>


<button class="collapsible">Get gameMusics<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameMusics/all"></div>

<button class="collapsible">Get gameSounds<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameSounds/all"></div>
<button class="collapsible">Get gameSprites<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameSprites/all"></div>
<button class="collapsible">Get gameElements<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameElements/all"></div>
<button class="collapsible">Get gameRules<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameRules/all"></div>

<button class="collapsible">Get ruleSets<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/ruleSets/all"></div>
<button class="collapsible">Add ruleSets<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/ruleSets/renderAddForm"></div>

<button class="collapsible">Add gameMusics<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameMusics/renderAddForm"></div>
<button class="collapsible">Add gameSounds<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameSounds/renderAddForm"></div>
<button class="collapsible">Add gameSprites<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameSprites/renderAddForm"></div>
<button class="collapsible">Add gameElements<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameElements/renderAddForm"></div>
<button class="collapsible">Add gameRules<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/gameRules/renderAddForm"></div>
