
<button class="collapsible">Get Games<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/all"></div>
<button class="collapsible">Add Games<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/games/renderAddForm"></div>

