@font-face {
  font-family: "mayphylla";
  src: url("/fonts/maphylla.otf"); }
@font-face {
  font-family: "sunday";
  src: url("/fonts/weatherSunday.otf"); }
@font-face {
  font-family: "aquarelle";
  src: url("/fonts/aquarelle.ttf"); }
@font-face {
  font-family: "backlash";
  src: url("/fonts/backslash.otf"); }
@font-face {
  font-family: "minonPro";
  src: url("/fonts/minionPro-Semibold.otf"); }
@font-face {
  font-family: "montserrat";
  src: url("/fonts/montserrat-SemiBold.ttf"); }
@font-face {
  font-family: "satisfy";
  src: url("/fonts/satisfy-Regular.ttf"); }
@font-face {
  font-family: "times";
  src: url("/fonts/times New Roman.ttf"); }
@font-face {
  font-family: "darker";
  src: url("/fonts/darkerGrotesque-Light.ttf"); }
.font_aqua {
  font-family: "aquarelle"; }
.font_weat {
  font-family: "sunday"; }
.font_maph {
  font-family: "mayphylla"; }
.font_back {
  font-family: "backlash"; }
.font_mini {
  font-family: "minonPro"; }
.font_mont {
  font-family: "montserrat"; }
.font_sati {
  font-family: "satisfy"; }

/* Define accent font family variable in CSS */
.labelColor_brand {
  color: #551360; }
.labelColor_alert {
  color: red; }
.labelColor_success {
  color: green; }

.fontColor_brand {
  color: #551360; }
.fontColor_alert {
  color: red; }
.fontColor_success {
  color: green; }

.margin_padding_0 {
  padding: 0px auto;
  margin: 0px auto; }

.bg_color_black {
  background-color: black; }
.bg_color_white {
  background-color: white; }
.bg_color_brand {
  background-color: #551360; }

:root {
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(to right, #fae0ff -50%, white 50%, #fae0ff 105%);
  padding: 1%; }

.big_letter_a {
  font-size: 8rem;
  font-family: 'Times New Roman', Times, serif;
  color: #551360;
  opacity: 0.3;
  /* Semi-transparent letter */
  position: absolute;
  /* Position it absolutely within the parent */
  top: 22%;
  /* Align with the top of the container */
  left: 47%;
  /* Adjust this to move it horizontally */
  z-index: 0;
  /* Ensure it stays behind the text */ }

@media (min-width: 768px) {
  #chatTextDisplay {
    display: none; } }

.adminWindow {
  transition: margin-bottom 1.2s ease-in 0s; }
  .adminWindow h2, .adminWindow p, .adminWindow input {
    color: black; }

.avatarSetup {
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: space-between;
  /* Distribute items evenly with space between */
  align-items: center;
  /* Align items vertically in the center */
  gap: 10px;
  /* Optional: Add spacing between items */ }

.avatarSetup button {
  padding: 2%;
  font-size: 1.4rem;
  border-radius: 50px;
  background-color: purple;
  color: white; }

.glowGreen {
  margin: 7%;
  height: clamp(10px, 10px, 10px);
  width: clamp(10px, 10px, 10px);
  border-radius: 5px;
  box-shadow: 0px 0px 13px #49eb49;
  background-color: green; }

.big_letter_q {
  font-family: 'Times New Roman', Times, serif;
  color: #551360;
  font-size: 7rem;
  opacity: 0.3;
  /* Semi-transparent letter */
  position: absolute;
  /* Position it absolutely within the parent */
  top: -6px;
  /* Align with the top of the container */
  left: 18px;
  /* Adjust this to move it horizontally */
  z-index: 0;
  /* Ensure it stays behind the text */ }

.faq_container {
  height: auto;
  position: relative;
  /* Needed to position the big letter absolutely within this container */
  margin-bottom: 20px;
  /* Add some space between Q and A blocks */ }

.faqTerm {
  font-size: 1.1rem;
  color: black;
  font-family: "backlash";
  position: relative;
  z-index: 1;
  /* Ensure text appears above the big letter */
  padding: 2%; }

.br_5 {
  border-radius: 5px; }

.border_thin {
  background-color: rgba(255, 255, 255, 0.478);
  border: 1px solid #551360; }

.margin_small {
  margin: 16px; }

.brand_title_font {
  font-family: "mayphylla";
  color: #ffde68;
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px #551360; }
  @media (min-width: 768px) {
    .brand_title_font {
      font-size: 5rem;
      transform: translateY(-10px); } }

.button_wide {
  width: 94%;
  padding: 1%;
  margin: 2%;
  font-size: 1.2rem;
  background-color: #dbdbdb;
  color: #551360; }

.signup_below {
  display: block; }
  @media (min-width: 768px) {
    .signup_below {
      display: none; } }

#resetEmailInput {
  display: none; }

#emailLoginForm {
  min-height: 500px; }

@media (min-width: 768px) {
  .loginFlows {
    display: grid;
    grid-template-columns: 3fr 1fr; } }

.login_form_basic button:hover {
  filter: invert(1.6) brightness(1.4); }

.login_form_basic::placeholder {
  text-align: center; }

.login_form_basic input:focus {
  border: 1px solid #ffde68;
  box-shadow: 2px 2px 2px #551360;
  background-color: #faf5f2; }

.login_form_basic input:target {
  border: 1px solid #ffde68;
  box-shadow: 2px 2px 2px #551360;
  color: #551360;
  background-color: #ffde68; }

.avatar_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure it sits behind any other content */
  pointer-events: none;
  /* Allow interaction with other elements */ }

.login_form_basic {
  color: white; }
  .login_form_basic input, .login_form_basic button {
    width: 94%;
    padding: 1%;
    margin: 2%;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      .login_form_basic input, .login_form_basic button {
        margin: 2%; } }
  .login_form_basic label {
    font-size: 1.2rem; }
  .login_form_basic button {
    background-color: #dbdbdb;
    color: #551360;
    font-size: 1.2rem; }

#main {
  max-width: 50vw; }

.debug {
  color: red; }

#notifications, #cart, #rewards, #help, #settings, #admin, #wallet {
  display: none; }

.footerImg {
  margin-left: 10%;
  width: 80%; }
  .footerImg img {
    width: 100%; }

#footer {
  padding: 2%;
  background-color: #551360;
  color: #ffde68;
  width: 90%;
  margin-left: 3%;
  box-shadow: inset 5px 5px 12px #1a0a1b; }
  @media (min-width: 768px) {
    #footer {
      width: 46%; } }

.footerContainer {
  padding: 1%;
  align-items: center;
  align-content: space-around;
  text-align: center; }

.footerDiv img {
  width: 75px; }

.footerDiv h1 {
  vertical-align: middle; }

.footerDiv {
  text-align: center; }

.shopifyStorefront {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #551360;
  border: 1px solid #ffde68;
  border-radius: 8px;
  overflow: hidden;
  position: relative; }

.shopifyStorefront h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px; }

.shopifyStorefront ul {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.shopifyStorefront li {
  scroll-snap-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 10px;
  padding: 20px;
  min-width: 300px;
  flex: 0 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }

.shopifyStorefront li h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #555; }

.shopifyStorefront li p {
  margin: 10px 0;
  color: #777; }

.productImgContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }

.productImgContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 4px; }

.centerHighlight {
  border: 2px solid #551360; }

.priceContainer {
  position: absolute;
  bottom: 1%;
  right: 5%;
  background-color: #551360;
  color: #ffde68;
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 24px;
  box-shadow: inset 5px 5px 5px #1a0a1b83; }

.buyNowButton {
  background-color: #ffde68;
  color: #1a0a1b;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px; }

.collapsible {
  font-family: "backlash";
  font-weight: 900;
  width: 93%;
  margin: 4%;
  color: black;
  font-size: 1.5rem;
  min-height: 45px;
  min-width: 92%;
  box-shadow: inset 1px 1px 0 grey;
  border: 3px solid #be9f48;
  border-bottom-color: 12px solid #ffe75c;
  border-top-color: #ffe75f;
  border-radius: 25px;
  background: linear-gradient(to right, #be9f48, #a58838 12%, #fffced 42%, #a79638);
  cursor: pointer;
  padding: 10px;
  text-align: left;
  outline: none;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }

.active, .collapsible:hover {
  color: #f7e2a8;
  text-shadow: 1px 1px 0 black; }

.content {
  color: #551360;
  border: 1px solid white;
  padding: 0 1px;
  display: none;
  overflow: hidden;
  background-color: #551360;
  transition: transform 1.8s ease-in-out, opacity 1.8s ease-in-out; }

.carrot {
  float: right;
  transition: transform 0.3s; }

.content .content {
  color: #ffde68;
  animation: slideIn 0.6s ease-out 0s;
  box-shadow: inset #551360 1px 1px 2px;
  background-color: #7d1a8e;
  /* Darker shade for the second level of nesting */ }

.content .content .content {
  color: #ffde68;
  box-shadow: inset #551360 1px 1px 2px;
  border: 1px dotted #1c0212;
  background-color: purple;
  /* Even darker shade for the third level of nesting */ }

.content .content .content .content {
  color: #ffde68;
  box-shadow: inset #551360 1px 1px 2px;
  background-color: purple;
  /* Darkest shade for deeper nesting */ }

.rotate {
  transform: rotate(90deg); }

.medalion_button {
  margin: 4%;
  color: black;
  font-size: 1.3rem;
  min-height: 68px;
  min-width: 92%;
  box-shadow: inset 1px 1px 0 grey;
  border: 3px solid #be9f48;
  border-bottom-color: 12px solid #ffe75c;
  border-top-color: #ffe75f;
  border-radius: 25px;
  background: linear-gradient(to right, #be9f48, #a58838 12%, #fffced 42%, #a79638); }

.active, .collapsible:hover {
  background-color: #ccc; }

.carrot {
  transition: transform 0.3s; }

.rotate {
  transform: rotate(90deg); }

.rotated {
  transform: rotate(180deg); }

.usersOnline {
  position: relative;
  display: inline-block; }

.debugMessage {
  color: red;
  font-size: 12px;
  position: absolute;
  right: -80px;
  /* Adjust this value to your needs */
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  pointer-events: none;
  /* Prevent the span from blocking other interactions */ }

.imagesThumbs {
  display: flex;
  flex-direction: row;
  /* or column for a vertical layout */
  justify-content: flex-start;
  /* Aligns items at the start of the container */
  align-items: center;
  /* Centers items vertically in their line */
  gap: 10px;
  /* Adjusts space between each .userSetting item */
  padding: 20px;
  /* Adds some space inside the container */ }

#settings {
  margin-bottom: 12%; }

#usersList {
  height: 400px;
  overflow-y: scroll; }

#searchInput input {
  font-weight: 900; }

.user-item {
  border: 1px solid #ccc; }

.userSetting {
  transition: width 0.5s ease;
  /* Set a default width or use another property as needed */ }

.collapse-section {
  display: block; }

.collapsed {
  max-height: 0;
  /* Collapse the div */ }

.uploadedVideo {
  width: 96%;
  margin: 1%;
  padding: 1%; }

.readerVideo {
  width: 100%;
  max-height: 135px; }

.thumb {
  display: block;
  flex: 1;
  /* Allows the item to grow and shrink, but not beyond its content size */
  /* Additional styling for your .userSetting elements */
  padding: 10px;
  border: 1px solid #ccc;
  /* Example border, adjust as needed */
  border-radius: 5px;
  /* Gives a slight rounded corner */
  background-color: #f9f9f9;
  /* Light background color */
  overflow-y: scroll; }

.addImage {
  font-size: 1.8rem;
  padding: 2%; }

.chatInput {
  margin: 1% 0%;
  width: 55%;
  height: 34px;
  font-size: 1.2rem;
  font-weight: 900; }
  @media screen and (max-width: 768px) {
    .chatInput {
      width: 78%;
      height: 34px; } }
  @media screen and (max-width: 768px) and (min-aspect-ratio: 1 / 1) {
    .chatInput {
      margin: 1% 1%;
      width: 78%;
      height: 34px; } }

#submitChat {
  width: 16%;
  height: 34px; }

.loaderDiv {
  padding: 2%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  /* Center the content of loaderDiv */
  align-items: center;
  /* Align the items vertically */ }

#avatarTemplateMessage {
  font-weight: 900;
  font-size: 1.2rem;
  color: greenyellow;
  text-shadow: 1px 1px 0 black;
  animation: fadeIn 0.3s ease-in 0s; }

.loaderWheel {
  min-height: 40px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  flex-direction: row; }

@keyframes wheelSpin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
@keyframes flashingNotice {
  0% {
    opacity: 1; }
  79% {
    opacity: 1;
    scale: 1.2; }
  80% {
    opacity: 0; }
  85% {
    opacity: 1;
    scale: 1.2; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.flashingNotice {
  animation: flashingNotice 10s ease-in 3s infinite; }

.wheel {
  flex-shrink: 0;
  min-height: 40px;
  min-width: 40px;
  border-top: 5px solid #ffde68;
  border-block-width: 1px;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: wheelSpin 1s linear infinite; }

#chat-window-basic {
  border: 3px solid #ffde68;
  margin: 2%;
  position: fixed;
  height: 90vh;
  width: 40%;
  z-index: 6;
  transform-style: preserve-3d;
  transition-timing-function: ease-in;
  transition-duration: .4s;
  transform: translateX(0%);
  background: linear-gradient(to bottom, #5c005c, #551360, #551360, #551360, #a71fa7, #551360, #551360, #551360, #551360, #3c003c);
  left: 59%;
  top: 0;
  border-top-left-radius: 19px;
  height: 87%;
  margin: 0%;
  z-index: 1001; }
  @media (max-width: 768px) {
    #chat-window-basic {
      width: 92%;
      left: 102%;
      top: 1%;
      height: 87%;
      padding: 1%; } }
  @media (max-width: 768px) and (min-aspect-ratio: 1 / 1) {
    #chat-window-basic {
      width: 95vw;
      top: 0%;
      left: 102%;
      height: 87%;
      z-index: 10002; } }

.contrast_basic {
  color: black;
  background-color: white; }
  .contrast_basic input {
    background-color: white; }

.userDisplayName {
  font-size: .7rem;
  text-wrap: nowrap;
  text-overflow: hidden;
  max-width: 100%;
  text-align: left; }

#userDash {
  border: 3px solid #ffde68;
  margin: 2%;
  position: fixed;
  height: 90vh;
  width: 40%;
  z-index: 6;
  transform-style: preserve-3d;
  transition-timing-function: ease-in;
  transition-duration: .4s;
  transform: translateX(0%);
  background: linear-gradient(to bottom, #5c005c, #551360, #551360, #551360, #a71fa7, #551360, #551360, #551360, #551360, #3c003c);
  right: 100%;
  top: 0%;
  z-index: 1001; }
  @media (min-width: 768px) {
    #userDash {
      font-size: smaller;
      width: 93%;
      top: 0%;
      height: 80vh;
      z-index: 1001;
      box-shadow: 0px 0px 120px rgba(53, 0, 52, 0.865); } }
  @media (max-width: 768px) {
    #userDash {
      width: 92%;
      height: 87%; } }

.media_cell_only {
  display: block; }
  @media (min-width: 768px) {
    .media_cell_only {
      display: none; } }

.media_desktop_only {
  display: none; }
  @media (min-width: 768px) {
    .media_desktop_only {
      display: block; } }

.spacer_50 {
  min-height: 50px;
  margin-bottom: 10%; }

.spacer_10 {
  min-height: 10px;
  margin-bottom: 10%; }

.dashContent {
  height: 100%;
  overflow-y: scroll; }

#chatToggle {
  width: 40px;
  height: 40px;
  margin: 2% 32%;
  border-radius: 40px;
  background-size: 90%;
  background-position: center;
  color: #551360;
  font-size: .8rem;
  box-shadow: 3px 3px 3px #1a0a1b;
  display: none; }
  @media (max-width: 768px) {
    #chatToggle {
      display: block; } }

#dashToggle {
  width: 40px;
  height: 40px;
  margin: 2% 32%;
  border-radius: 40px;
  background-size: 90%;
  background-position: center;
  color: #551360;
  font-size: .8rem;
  box-shadow: 3px 3px 3px #1a0a1b;
  right: -25%;
  top: 40%; }
  @media (max-width: 768px) {
    #dashToggle {
      right: -33%; } }

#header img {
  max-width: 40px; }

.dashHeader {
  display: flex;
  flex-direction: row;
  /* Align items horizontally */
  justify-content: space-evenly;
  /* Even spacing around the items */
  align-items: center;
  /* Vertically align items in the middle */ }

.navGroup {
  background-color: #551360;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* Align items horizontally */
  justify-content: space-evenly;
  /* Even spacing around the items */
  align-items: center;
  /* Vertically align items in the middle */ }

.wallet {
  background: linear-gradient(to right, purple, #9a019a);
  box-shadow: inset 2px 2px 2px #1a0a1b;
  padding: 1%;
  border-top: 1px solid #ffde68;
  border-bottom: 1px solid #ffde68;
  color: #ffde68; }

.wallet {
  display: flex;
  flex-direction: row;
  /* Align items horizontally */
  justify-content: space-evenly;
  /* Even spacing around the items */
  align-items: center;
  /* Vertically align items in the middle */ }

.jewel {
  align-content: center; }

.jewel img {
  width: 30px; }

.user {
  min-width: 100px;
  border: 1px solid #ffde68;
  overflow: hidden;
  margin: 1px;
  padding: 1; }

.userNavLink {
  filter: invert(1);
  color: #ffde68;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  align-content: center;
  /* Apply desired styles for individual links here */
  padding: 10px;
  /* Example padding */
  text-decoration: none;
  /* Example to remove underline from links */
  color: #333;
  /* Example link color */
  border-top-left-radius: 30px; }

.userNavLink img {
  width: 68%; }
  @media (min-width: 768px) {
    .userNavLink img {
      width: 18%; } }

.emojiSlider {
  margin: 0% 1%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0%;
  background-color: #551360;
  box-shadow: inset 1px 1px 1px black;
  border-radius: 10px;
  width: 98%;
  /* Ensure it fits within the parent container */ }
  @media (max-width: 768px) and (min-aspect-ratio: 1 / 1) {
    .emojiSlider {
      margin: 0% 0%;
      padding: 0; } }

.emoji-option {
  font-size: 24px;
  cursor: pointer;
  padding: 01%;
  margin: 0;
  user-select: none; }

.emoji-option:hover {
  background-color: #e0e0e0;
  border-radius: 5px; }

#chatContainer {
  max-height: 68%;
  overflow-y: scroll; }

#chat {
  width: 96%;
  margin: 2%;
  overflow-y: auto;
  transition-timing-function: ease-out;
  transition-duration: .6s;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.749);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: linear-gradient(to left, #a8449e, rgba(122, 19, 98, 0.923)); }
  @media (max-width: 768px) {
    #chat {
      height: 52%; } }

#mainBanner {
  height: 16vh;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 8001; }
  @media (min-width: 768px) {
    #mainBanner {
      width: 56%;
      margin: 0%;
      background-size: contain;
      z-index: 8001; } }

.banner {
  display: grid;
  grid-template-columns: 1fr 10fr;
  transition: all 0.3s ease;
  /* Smooth transition for shrinking */ }
  @media (min-width: 768px) {
    .banner {
      min-height: 14vh; } }

.banner img {
  width: 87%;
  /* Ensure image fills the banner */
  transition: all 0.3s ease;
  /* Smooth transition for the image */
  height: auto;
  /* Maintain aspect ratio */ }

#dashToggle, #chatToggle {
  transition: all 0.3s ease;
  /* Smooth transition for buttons */
  padding: 10px 20px;
  /* Initial padding for buttons */ }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure it stays on top */
  background-color: #551360; }

.shrunk {
  display: grid;
  grid-template-columns: 1fr 10fr;
  height: 16vh;
  /* Adjusted height when scrolled */ }
  @media (min-width: 768px) {
    .shrunk {
      min-height: 0; } }

.shrunk img {
  width: 100%; }

.shrunk #dashToggle, .shrunk #chatToggle {
  padding: 5px 10px;
  /* Reduced padding for buttons */
  font-size: 0.8rem;
  /* Smaller text size */ }

#bannerControls {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 2%;
  z-index: 1005;
  align-self: center;
  background-color: black; }
  #bannerControls h3 {
    width: 100%;
    color: #ffde68;
    font-size: .6rem;
    transform: translateY(-12px); }
  @media (min-width: 768px) {
    #bannerControls {
      padding: 0; } }

#bannerControls > .bannerDiv > button,
#bannerControls > .bannerDiv > h3 {
  text-align: center;
  margin-bottom: 10px;
  /* Space between h3 and button */ }

#bannerControls > .bannerDiv > button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer; }

#bannerControls > .bannerDiv > h3 {
  font-size: 20px;
  color: #ffde68; }

#userGreeting {
  font-size: .8rem;
  padding: 0; }

#userList {
  width: 95%;
  min-height: 55px;
  margin: 2% 3%;
  display: flex;
  align-items: center;
  /* Ensure the circles are aligned in the center */
  overflow-x: scroll;
  overflow-y: visible;
  padding: 0;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.749);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: linear-gradient(to left, #a8449e, rgba(122, 19, 98, 0.923)); }

.userInfoBox {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 1000; }

.userInfoBox img {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.userInfoBox .icons {
  display: flex;
  gap: 10px; }

.userInfoBox .icons img {
  width: 20px;
  height: 20px;
  cursor: pointer; }

.usersOnline {
  cursor: pointer; }

.repliesContainer {
  animation: fadeIn .8s ease-out 0s;
  border-left: 2px solid purple;
  border-top: 2px solid purple; }

.replyMessage {
  animation: fadeIn .8s ease-out 0s;
  height: auto;
  display: flex;
  align-items: center;
  margin: -5%; }
  .replyMessage .usersOnline {
    margin: 0;
    padding: 0; }
  .replyMessage .replyText {
    font-size: .9rem;
    margin: 0;
    padding: 0; }

.replyMessage img {
  animation: fadeIn .8s ease-out 0s;
  transform: scale(0.5); }

.repliesCounter {
  color: blue;
  cursor: pointer;
  font-weight: bold; }

.usersOnline {
  background-color: #410b4b;
  max-width: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  border: 3px solid gold;
  /* Assuming $gold is a variable, replace it with an actual color if you're not using a preprocessor */
  /* Overlap each circle by adjusting the X translation */
  /* Each circle will be moved to the left by 15px more than the previous one */
  margin-left: -15px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition-duration: .4s;
  transform: scale(1); }

.usersOnline:hover {
  transform-style: preserve-3d;
  transition-duration: .4s;
  z-index: 5000;
  transform: scale(1.4); }

.usersOnline img {
  width: 100%;
  overflow: hidden; }

.likesCounter .repliesCounter {
  min-width: 100%; }

.message, .message_green {
  display: grid;
  grid-template-columns: 2fr 8fr 4fr;
  margin-bottom: 10px;
  width: 98%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(255, 217, 0, 0.406);
  background-color: white;
  animation: fadeIn .3s ease-IN 0s 1; }

.message .messageText {
  display: flex;
  align-items: center;
  /* Vertically centers the text */
  margin-left: 10%;
  text-align: left;
  /* Centers text if it's multiple lines */ }

.messageUser {
  margin: 1%;
  font-weight: bold;
  margin-right: 5px; }

.message img {
  max-width: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  border: 3px solid gold;
  margin-left: 10%; }

.messageText {
  text-align: left;
  font-weight: 800;
  /* Additional styling as needed */ }
  @media (min-width: 768px) {
    .messageText {
      font-size: 1.2rem; } }

#confettiCanvas {
  background-color: transparent;
  z-index: -1;
  position: absolute;
  width: 98%;
  height: 98%;
  top: 0;
  left: 0; }

#confettiControls {
  display: none;
  position: fixed;
  width: 200px;
  bottom: 2%;
  left: -25%; }

.imageThumbs {
  display: flex; }

.auth_view_true.expanded {
  transform: scale(1.05);
  z-index: 1; }

.adminWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 360px;
  width: 96%;
  margin: 2%;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.719);
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  overflow-y: scroll; }
  @media (min-width: 768px) {
    .adminWindow {
      display: block;
      width: 52%; } }
  @media (min-width: 768px) {
    .adminWindow {
      display: block;
      width: 96%; } }

.auth_view_true {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 360px;
  width: 96%;
  margin: 2%;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.719);
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  overflow-y: scroll; }
  @media (min-width: 768px) {
    .auth_view_true {
      display: block;
      width: 52%; } }

.auth_view_false {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 360px;
  width: 96%;
  margin: 2%;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.719);
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  overflow-y: scroll; }
  @media (min-width: 768px) {
    .auth_view_false {
      display: block;
      width: 52%; } }

/* Styling for the slideshow container */
.slide_view {
  font-family: "backlash";
  position: relative;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  padding: 2%;
  margin: 3% 1%;
  box-shadow: 0px 0px 3px rgba(255, 217, 0, 0.372); }
  .slide_view h1, .slide_view a {
    text-shadow: 5px 5px 8px black;
    color: white; }

@media (max-width: 768px) {
  .slide_view {
    width: 92%; } }
/* General slide styling */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 2s ease-in-out;
  z-index: 1; }

/* Animation for sliding in from the right */
.slide-in {
  z-index: 1;
  transform: translateX(100%);
  animation: slideIn 1.2s forwards; }

/* Mark the current slide */
.slide-current {
  transform: translateX(0); }

/* Keyframes for sliding in animation */
@keyframes slideIn {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
/* Styling for text content inside the slideshow */
.slideShowInner {
  position: absolute;
  /* Ensure content is positioned over slides */
  top: 42%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Center the content */
  z-index: 2;
  /* Ensure text content is above the slides */
  text-align: center;
  padding: 12%;
  border-radius: 8px;
  width: 100%;
  transition: opacity 1s ease;
  /* Fade effect for text */ }
  .slideShowInner p {
    color: white; }

.slide_view h1 {
  font-size: 6rem;
  /* Slightly larger size for more impact */
  font-weight: 900;
  /* Extra bold for maximum emphasis */
  color: #551360;
  /* Bold color */
  text-shadow: 2px 2px 0px black, -1px -1px 0px white;
  transition: 1.2s ease-in-out 1s;
  font-family: "backlash";
  /* Distinctive typeface */
  transform: translateY(-55%); }

.linkTable_alt a {
  color: #ffde68;
  font-size: 1.2rem;
  font-weight: 900;
  text-shadow: #1a0a1b;
  padding: 2% 8%; }

.expanded {
  position: fixed;
  top: 18vh;
  left: 0;
  min-height: 65vh;
  z-index: 8000;
  overflow-y: scroll; }
  @media (min-width: 768px) {
    .expanded {
      min-height: 65vh;
      top: 17%; } }

.scrollBox {
  min-height: 100%;
  overflow-y: scroll; }

.close-button {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: none; }

#notifications {
  border: 1px solid #ffde68;
  background-color: white; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.authOpts {
  padding: 2%;
  margin: 2%;
  font-size: 1.2rem; }

@keyframes flashMsg {
  0% {
    transform: scale(0%);
    max-height: 100%; }
  90% {
    transform: scale(100%);
    max-height: 100%; }
  99% {
    transform: scale(10%);
    max-height: 100%; }
  100% {
    transform: scale(0%);
    max-height: 0%; } }
#flashErrors {
  transform: scale(0%);
  max-height: 0;
  transform-style: preserve-3d;
  animation: flashMsg 2.8s ease-in-out 0s 1; }

#localVideo {
  width: 100%; }

#remoteVideo {
  width: 100%; }

.index-containerr {
  background-repeat: no-repeat;
  background-size: 69%;
  background-position: left;
  background-blend-mode: hue; }

#game-container, .index-container {
  color: black;
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.442); }

.index-container {
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-size: 69%;
  background-position: left;
  background-blend-mode: hue; }

@media (min-width: 768px) {
  .index-container {
    overflow-y: scroll; } }
.container-scrollbox-x {
  display: flex;
  width: auto;
  overflow-x: scroll; }

.index-card {
  width: 90%;
  margin: 5%;
  flex-shrink: 0;
  display: none;
  /* Hide all index cards initially */ }

.index-card.active {
  display: block;
  /* Show active index card */ }

.go-back {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.sectionWindow {
  display: flex;
  width: 100%;
  min-height: 280px;
  overflow-x: auto;
  /* Allow horizontal scrolling */ }

.sectionIndexNo {
  min-width: 100%;
  font-size: 4rem;
  text-align: center;
  padding-left: 8%;
  font-family: "mayphylla"; }

.sectionGraphic {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #711881;
  min-height: 100%;
  min-width: 33%; }

.callToAction {
  margin: -20%;
  padding: 2% 24%;
  background-color: #bcab65;
  color: white; }

.sectionName {
  text-align: center;
  font-family: "backlash";
  font-size: 1rem; }

.sectionContainer {
  flex-shrink: 0;
  margin: 7% 48% 0% 37%;
  width: 100%;
  /* Adjust the width to be larger than .sectionWindow */
  background-color: #f3edd6;
  overflow: visible; }

.sectionView {
  width: 98%;
  height: auto;
  margin: 1%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -68px;
  background-color: #711881; }

#chatTabs {
  overflow-y: scroll;
  background-color: #c878d7;
  display: flex;
  min-width: 100%;
  border-bottom: 2px solid #333;
  /* Border to separate tabs from content */ }

.tab_section {
  color: #ffde68;
  background-color: #410b4b;
  flex: 1;
  /* Ensures tabs are equally spaced */
  border: 1px solid #ccc;
  /* Border around each tab */
  border-bottom: none;
  /* Remove bottom border to connect with content area */
  padding: 10px;
  /* Padding for better click area */
  text-align: center;
  /* Center text within tabs */
  cursor: pointer;
  /* Pointer cursor to indicate clickable tabs */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition for hover effect */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 18px;
  border-top-left-radius: 8px; }

.tab_section:hover {
  background-color: #f0f0f0;
  /* Light grey background on hover */
  color: #410b4b;
  /* Text color change on hover */
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 18px;
  border-top-left-radius: 8px; }

.tab_section.join {
  color: #ffde68;
  background-color: #8a3898; }

.tab_section.active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #ffde68;
  /* Active tab background color */
  color: #551360;
  /* Active tab text color */
  border-bottom: 2px solid #410b4b;
  /* Match the bottom border with background color */ }

.userStats {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.statContainer {
  margin: 3%;
  border: 1px dotted #ffde68;
  border-radius: 50px;
  box-shadow: 2px 2px 2px #551360; }

.shopifyStorefront {
  font-family: Arial, sans-serif;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative; }
  @media (max-width: 768px) {
    .shopifyStorefront {
      padding: 6%; } }

.shopifyStorefront h1 {
  font-size: 24px;
  color: #551360;
  text-align: center; }

.shopifyStorefront ul {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.divFilter {
  background-color: #ffffffda;
  min-height: 96%;
  min-width: 96%;
  margin: 0;
  padding: 2%; }

.shopifyStorefront li {
  background-blend-mode: darken;
  max-width: 100%;
  scroll-snap-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  flex: 0 0 auto;
  text-align: center;
  position: relative;
  box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.8), inset -1px -1px 5px rgba(0, 0, 0, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out; }
  @media (min-width: 768px) {
    .shopifyStorefront li {
      max-width: 12%; } }

.shopifyStorefront li h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #551360; }

.shopifyStorefront li p {
  margin: 0;
  color: #ffde68; }

.shopifyStorefront li img {
  max-width: 50%;
  height: auto;
  border-radius: 4px; }

.centerHighlight {
  border: 2px solid #551360; }

.adminForms {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.adminStatsRow {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .adminStatsRow {
      grid-template-columns: 1fr 1fr auto; } }

.adminStat {
  width: 98%;
  margin: 1%;
  border: 1px solid grey;
  border-radius: 5px; }

.adminStatsRow img {
  max-width: 75px; }

.peers {
  background-color: blueviolet;
  display: flex; }

.marquee {
  color: #ffde68;
  text-shadow: 1px 1px 0px black;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 10px 0; }

#marquee {
  position: relative;
  height: 100px;
  /* Adjust based on content */
  overflow: hidden; }

.marquee-item {
  display: inline-block;
  white-space: nowrap;
  transition: transform 12s linear;
  /* Faster scroll effect */ }

.marquee-item img {
  width: 100%; }

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  vertical-align: middle; }

@keyframes marquee {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-100%, 0); } }
.videoTitle {
  font-size: .8rem;
  max-width: 100px;
  white-space: nowrap;
  /* Prevent text from wrapping to the next line */
  overflow: hidden;
  /* Hide the overflowed text */
  text-overflow: ellipsis; }

.video_container {
  text-align: center;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.video-card {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc; }

.btn {
  padding: 3%;
  margin: 2%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer; }

.videoControls {
  width: 100%;
  padding: 2%;
  margin: 1%;
  background-color: blue;
  color: white; }
  .videoControls.stop {
    background-color: red;
    color: white; }
  .videoControls.start {
    background-color: green;
    color: white; }

button good {
  background-color: rgba(81, 47, 81, 0.687);
  color: white; }

.noStyle {
  margin-top: 3%;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover; }
  .noStyle h1 {
    text-shadow: 8px 5px 8px #000000;
    font-family: "minonPro";
    color: white; }

.client_window, .noStyle {
  border: 4px solid #551360;
  background-color: rgba(113, 73, 111, 0.666);
  box-shadow: inset 2px 2px 2px rgba(128, 128, 128, 0.878);
  color: white;
  text-shadow: #71188100; }
  @media (min-width: 768px) {
    .client_window, .noStyle {
      width: 52%;
      margin: 2%; } }

/* Add this CSS to your stylesheet */
/* Flex container */
.peers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Optional: Add some space between items */ }

/* Flex items */
.peer {
  flex: 1 1 calc(25% - 10px);
  /* Adjust the percentage (25%) to control max number of items per row */
  max-width: calc(25% - 10px);
  /* Adjust the percentage (25%) to control max number of items per row */
  box-sizing: border-box;
  /* Ensures padding and border are included in the width calculation */ }
  @media (max-width: 768px) {
    .peer {
      max-width: calc(50% - 10px);
      /* Adjust the percentage (25%) to control max number of items per row */ } }

/* Example of video styling */
#myVideo {
  width: 30%;
  position: fixed;
  bottom: 2%;
  left: 2%;
  height: auto;
  object-fit: cover;
  /* Ensures the video covers the container, maintaining aspect ratio */
  z-index: 9000; }
  @media (min-width: 768px) {
    #myVideo {
      width: 12%; } }

.myVideo {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Ensures the video covers the container, maintaining aspect ratio */ }

.lightbox {
  display: none;
  position: fixed;
  z-index: 9000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center; }

.lightbox_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; }
  .lightbox_content p {
    color: #ffde68; }
  .lightbox_content canvas {
    position: absolute;
    top: 0;
    left: 0; }

.lightbox_window {
  width: 100%;
  height: auto; }

.lightbox_close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease; }

/* SCSS styling */
.readerGrid {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll; }

.background-img {
  width: 100%; }

.readerBkgImg {
  min-height: 125px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.readerContainer {
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
  min-width: 225px;
  min-height: 70%; }
  .readerContainer h2 {
    color: #551360; }
  .readerContainer:hover {
    transform: translateY(-5px); }

.reader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;
  overflow-y: auto; }

.reader-content {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  .close-button:hover {
    background-color: #0056b3; }

.reader-inner-content {
  padding: 20px; }

.readerpopupDiv p {
  font-size: 1rem; }
  @media (min-width: 768px) {
    .readerpopupDiv p {
      font-size: 1.2rem; } }

.readerpopupDiv {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.86);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001; }
  .readerpopupDiv p {
    color: black; }
  .readerpopupDiv h1 {
    color: black; }
  @media (min-width: 768px) {
    .readerpopupDiv {
      width: 51%;
      margin: 1%;
      padding: 1%; } }

.readerpopupSection {
  border: 9px solid #551360;
  border-radius: 22px;
  text-shadow: 1px 1px 0 white;
  display: flex;
  /* Enables Flexbox layout */
  flex-direction: column;
  /* Align children vertically */
  align-items: center;
  /* Centers content horizontally */
  background-color: rgba(255, 255, 255, 0.788);
  padding: 30px;
  margin: 2%;
  height: 90vh;
  /* Adjust height to limit the container height */
  overflow-y: auto;
  /* Enables vertical scrolling if content exceeds the container height */
  box-sizing: border-box;
  /* Include padding in the height calculation */
  max-width: 100%;
  /* Ensure the section does not exceed the screen width */ }
  .readerpopupSection h2 {
    color: black; }
  .readerpopupSection h1 {
    font-family: "backlash";
    color: black;
    font-size: 2.2rem;
    text-shadow: 2px 2px 0 white; }
    @media (min-width: 768px) {
      .readerpopupSection h1 {
        font-size: 3.5rem; } }
  .readerpopupSection li {
    color: black;
    text-align: left;
    font-size: 1.2rem; }

.readerHeader {
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100%;
  min-height: 35%; }
  @media (min-width: 768px) {
    .readerHeader h1 {
      color: White;
      font-size: 3rem;
      text-align: center; } }

.bb1px {
  min-width: 98%;
  border-bottom: 1px solid #551360;
  margin: 1%; }

.readerIcon {
  transform: translate(-1%, 10%);
  margin: -10%;
  width: 80%; }

.readerAuthor {
  min-width: 100%;
  color: black;
  text-align: end;
  font-size: 1rem;
  font-style: italic; }

.readerHeader::before {
  background-color: #297fb9bc; }

.readerCloseButton {
  background-color: pink;
  color: black;
  width: 96%;
  margin: 2%;
  height: 40px; }

.readerMediumIcon {
  width: 96%;
  margin: 2%; }

.readerHorizBkgrd {
  width: 100%;
  filter: brightness(0.6); }

.readerImagesArray img {
  width: 40%; }

.readerImagesArray {
  display: flex;
  /* Enables Flexbox for children alignment */
  flex-wrap: nowrap;
  /* Prevents images from wrapping to the next line */
  width: 100%;
  /* Full width of the container */
  overflow-x: auto;
  /* Enables horizontal scrolling */
  overflow-y: hidden;
  /* Hides vertical scrolling */
  scroll-behavior: smooth;
  /* Smooth scrolling for better UX */
  gap: 10px;
  /* Optional: adds spacing between images */
  padding: 10px;
  /* Optional: padding around the container */
  align-items: center;
  /* Centers images vertically within the container */ }

.cardTableGameDiv {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-size: cover;
  padding: 1%;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.playerSeatsTop {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; }

.playerSeat {
  border: 2px solid #695f38;
  background-color: #551360;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: .8rem; }
  @media (min-width: 768px) {
    .playerSeat {
      font-size: 1rem; } }

.loaderWheel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; }

.wheel {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.userControls {
  position: absolute;
  bottom: 2%;
  width: 90%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4%;
  border-radius: 5px; }

.controlButton {
  margin: 5px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.controlButton:hover {
  background-color: #2980b9; }

.currentUserInfo {
  margin-top: 10px;
  text-align: center; }

#gameContainer {
  padding: 2%; }

#actionsContainer {
  animation: fadeIn .8s ease-out 0s 1;
  background-color: white;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  z-index: 2000; }

.action-button {
  border-radius: 5px;
  height: 80px; }

.buttonGrid {
  width: 96%;
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr; }

/*# sourceMappingURL=style.css.map */
