$gold : #d7b436;
$goldDim : #695f38;

$black:#1a0a1b;
$purple:#711881;
$gradientEdge: #410b4b;
:root{
    font-size: 1rem;
    text-align: center;
    background:linear-gradient(to right,$gradientEdge,$purple,$purple, $gradientEdge);
    color:$gold;
    padding: 1%;
}
#div0, #login_div, #register_div,#tickets, #users, #ticketsAdmin, #logs{
    display: none;
}

#footer{
    padding: 2%;
    background-color: $gold;
    color: $purple;
width: 90%;
margin-left: 5%;
    box-shadow: 5px 5px 12px $purple;
}
//forms
input{
    margin-bottom: 1%;
}
.oneTouchLogin{
    width:75px;
    align-items: center;
    align-content: center;
    
display: flex;
}

.loaderWheel{
    min-height: 40px;
    min-width: 98%;
    border: 1px dashed $gold;
}
@keyframes wheelSpin{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.wheel{
    
    min-height: 40px;
    max-width: 40px;
    border-top: 5px solid $gold;
    border-block-end: 1px solid $gold;
    border-radius: 50%;
    animation: wheelSpin 2s infinte linear;
}




#chat-window-basic {
    border:3px solid $gold;
    box-shadow: 3px 3px 3px $purple, inset 5px 5px 5px $black;
   margin: 2%;
    position: fixed;
    height: 90vh;
    width: 40%;
    left:100%;
    top:0%;
    transform-style: preserve-3d;
    transition-timing-function: ease-in;
    transition-duration: .4s;
    transform: translateX(0%);
    background-color: $purple;
    filter: brightness(1);
    @media (max-width:768px) {
        width: 90%;
        left:100%;

    }
}
  #chatToggle{
        transform: rotate(90deg);      
    position: absolute;
    left: -25%;
    top:46%;
   width:200px;
    border-radius: 5px;
border: 5px solid $purple;
background-color: $gold;
color: $purple;
font-size: 1.3rem;
box-shadow: 3px 3px 3px $black;
@media (max-width:768px) {
 left: -33%;
}
  }
  a{
    background: linear-gradient(to right,$gold,white,$gold);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgb(38, 0, 255);    

}
#chat{
    width: 96%;
    margin: 2%;

    min-height: 57%;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.749);
    border-top-left-radius:25px ;
    border-bottom-right-radius:25px ;
    background:linear-gradient(to left, rgb(168, 68, 158), rgba(122, 19, 98, 0.923))
}
.banner img{
    width: 100%;
}
#userList {
    width: 95%;
    min-height: 95px;
    margin: 2% 3%;
    display: flex;
    align-items: center; /* Ensure the circles are aligned in the center */
    overflow-x: scroll;
    overflow-y: visible;
    padding:0;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.749);
    border-top-left-radius:25px ;
    border-bottom-right-radius:25px ;
    background:linear-gradient(to left, rgb(168, 68, 158), rgba(122, 19, 98, 0.923))
}
$headshotPx:55px;
.usersOnline {
    background-color: #410b4b;
    max-width: $headshotPx;
    min-width: $headshotPx;
    min-height: $headshotPx;
    border-radius: 50%;
    border: 3px solid gold; /* Assuming $gold is a variable, replace it with an actual color if you're not using a preprocessor */
    /* Overlap each circle by adjusting the X translation */
    /* Each circle will be moved to the left by 15px more than the previous one */
    margin-left: -15px;
      overflow: hidden;
    transform-style: preserve-3d;
    transition-duration: .4s;
    transform: scale(1);
}
.usersOnline:hover{
    transform-style: preserve-3d;
    transition-duration: .4s;
    z-index: 5;
    transform: scale(1.4);
    
}
.usersOnline img{
    width: 100%;
      overflow: hidden;
}
.inputBar{
    position:absolute;
    margin: 2%;
    bottom: 0;
    left:0;
    width:95%;
    height: 8%;
    display: grid;
    grid-template-columns: 8fr 3fr;
  }
  .inputBar input{
height: 91%;
font-size: 1.6rem;
  }
  .inputBar button{
    width:100%;
    font-size: 1.5rem;
  }