$gold : #d7b436;
$goldDim : #695f38;

$black:#1a0a1b;
$purple:#711881;
$purpleFade0:#71188100;

$gradientEdge: #410b4b;
:root{
    font-size: 1rem;
    text-align: center;
    background:linear-gradient(to right,$gradientEdge,$purple,$purple, $gradientEdge);
    color:$gold;
    padding: 1%;
}
// #div0, #login_div, #register_div,#tickets, #users, #ticketsAdmin, #logs{
//     display: none;
// }
#notifications, #cart, #rewards, #help, #settings, #admin, #wallet{
    display: none;
}
#footer{
    padding: 2%;
    background-color: $purple;
    color: $gold;
width: 90%;
margin-left: 3%;
    box-shadow: inset 5px 5px 12px $black;
}
.footerContainer{
    padding:1%;
    display: flex;
align-items: center;
align-content: space-around;
text-align: center;

}
.footerDiv{
    text-align: center;
    flex-shrink: 0;
    width:33%;
}
.collapse_carrot{
    margin: 0 12px;
    font-size: 3rem;
    transform: rotate(180deg);
}
.collapse_carrot {
    display: inline-block;
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}

.imagesThumbs {
    display: flex;
    flex-direction: row; /* or column for a vertical layout */
    justify-content: flex-start; /* Aligns items at the start of the container */
    align-items: center; /* Centers items vertically in their line */
    gap: 10px; /* Adjusts space between each .userSetting item */
    padding: 20px; /* Adds some space inside the container */
  }
  #settings{
    margin-bottom: 12%;
  }
  

.userSetting {
    transition: width 0.5s ease;
    /* Set a default width or use another property as needed */
}
.collapse-section{
  display: block;
}
.collapsible {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 700px; /* Adjust this value based on the maximum content height */
}

.collapsed {
    max-height: 0; /* Collapse the div */
}


  .thumb {
    display: block;
    flex: 0 1 auto; /* Allows the item to grow and shrink, but not beyond its content size */
    /* Additional styling for your .userSetting elements */
    padding: 10px;
    border: 1px solid #ccc; /* Example border, adjust as needed */
    border-radius: 5px; /* Gives a slight rounded corner */
    background-color: #f9f9f9; /* Light background color */
    overflow-y: scroll;
  }
  .collapse-section{

  }



//forms
input{
    margin-bottom: 1%;
}
.oneTouchLogin{
    width:75px;
    align-items: center;
    align-content: center;
    
display: flex;
}
.loaderDiv {
    padding: 2%;
    flex-shrink: 0;
    display: flex;
    justify-content: center; /* Center the content of loaderDiv */
    align-items: center; /* Align the items vertically */
}
.loaderWheel{
    min-height: 40px;
    min-width: 100%;
  //  border: 1px dashed $gold;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction:row; 
}
@keyframes wheelSpin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(359deg);}
}
.wheel{
    flex-shrink: 0;
    min-height: 40px;
    min-width: 40px;
    border-top: 5px solid $gold;
   
    border-block-width: 1px;
    border-radius: 50%;
    transform: rotate(0deg);
    //animation:  1s infinte 0s linear wheelSpin;
    animation: wheelSpin 1s linear infinite;
}



@mixin sliderWindows(){
    border:3px solid $gold;
    box-shadow: 3px 3px 3px $purple, inset 5px 5px 5px $black;
   margin: 2%;
    position: fixed;
    height: 90vh;
    width: 40%;
   z-index: 6;
    transform-style: preserve-3d;
    transition-timing-function: ease-in;
    transition-duration: .4s;
    transform: translateX(0%);
    background-color: $purple;
}
#chat-window-basic {
    @include sliderWindows();
    left:100%;
    top:0%;
    z-index: 5;
    @media (max-width:768px) {
        width: 92%;
        left:100%;
        top:8vh;
        height: 84vh;
        padding: 1%;
    }
  
}
#userDash{
    @include sliderWindows();
    right:100%;
    top:0%;

    @media (max-width:768px) {
        width: 92%;
        height:80%;
        margin-top: 20%;
    }
    
    
}
.dashContent{
    height: 87%;
   
    overflow-y: scroll;
//     overflow-y: scroll;
}
@mixin toggleOpt(){
  //  position: absolute;
    //width:200px;
     border-radius: 5px;
 border: 5px solid $purple;
 background-color: $gold;
 color: $purple;
 //font-size: 1.3rem;
 box-shadow: 3px 3px 3px $black;
}
  #chatToggle{
    @include toggleOpt();
      //  transform: rotate(90deg);      
        left: -25%;
        top:56%;

@media (max-width:768px) {
 left: -33%;
}
  }
  #dashToggle{
    @include toggleOpt();
   // transform: rotate(90deg);
    right:-25%;
    top:40%;
    @media (max-width:768px) {
        right: -33%;
       }
  }
#header img{
  max-width: 40px;
}
  .dashHeader{
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: space-evenly; /* Even spacing around the items */
    align-items: center; /* Vertically align items in the middle */
  
  }
  #userNav{
  
  }
  .navGroup{
    background-color: $purple;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: space-evenly; /* Even spacing around the items */
    align-items: center; /* Vertically align items in the middle */
  }
  .wallet, .collapse-section{
    background: linear-gradient(to right, purple,rgb(154, 1, 154));
    box-shadow: inset 2px 2px 2px $black;
    padding: 1%;
    border-top: 1px solid $gold;
    border-bottom: 1px solid $gold;

}
.wallet{
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: space-evenly; /* Even spacing around the items */
    align-items: center; /* Vertically align items in the middle */
}
  .jewel{
align-content: center;

  }
  .jewel img{
    width: 30px;
  }
  .user{
    min-width: 100px;
    border: 1px solid $gold;
    overflow:hidden;
   margin:1px;
   padding:1;
  }
  .userNavLink{

    filter: invert(1);
    color:$gold;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    align-content: center;
    /* Apply desired styles for individual links here */
    padding: 10px; /* Example padding */
    text-decoration: none; /* Example to remove underline from links */
    color: #333; /* Example link color */
    border-top-left-radius:30px;
  }
  .userNavLink img{
    width: 100%;
  }
  
  a{


}
#chat{
    width: 96%;
    margin:2%;
overflow-y: auto;
    height: 70%;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.749);
    border-top-left-radius:25px ;
    border-bottom-right-radius:25px ;
    background:linear-gradient(to left, rgb(168, 68, 158), rgba(122, 19, 98, 0.923));
    @media (max-width:768px) {
   //height: auto;
    
}
}
.banner {
    width: 98%; /* Full width */
    padding: 0%;
    transition: all 0.3s ease; /* Smooth transition for shrinking */
    //display: flex; /* Use flexbox for layout */
   // justify-content: space-between; /* Space items appropriately */
   // align-items: center; /* Center items vertically */
    background-color:$purpleFade0;
    
}

.banner img {
    width: 87%; /* Ensure image fills the banner */
    transition: all 0.3s ease; /* Smooth transition for the image */
    height: auto; /* Maintain aspect ratio */
}

#dashToggle, #chatToggle {
    transition: all 0.3s ease; /* Smooth transition for buttons */
    padding: 10px 20px; /* Initial padding for buttons */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */
    background-color:$purple;
  }
  
  .shrunk {
    height: 50px; /* Adjusted height when scrolled */
    padding: 4%;
    width: 88%;
  }
  
  .shrunk img {
    height: 50px; /* Adjust the image height to match the banner's new height */
  width: auto;
}
  
  .shrunk #dashToggle, .shrunk #chatToggle {
    padding: 5px 10px; /* Reduced padding for buttons */
    font-size: 0.8rem; /* Smaller text size */
  }
  
#userList {
    width: 95%;
    min-height: 55px;
    margin: 2% 3%;
    display: flex;
    align-items: center; /* Ensure the circles are aligned in the center */
    overflow-x: scroll;
    overflow-y: visible;
    padding:0;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.749);
    border-top-left-radius:25px ;
    border-bottom-right-radius:25px ;
    background:linear-gradient(to left, rgb(168, 68, 158), rgba(122, 19, 98, 0.923));
@media (max-width:768px) {
    //// width: 104vh;
    // position: absolute;
    // top: 46%;
    // left: 5%;
    // transform: rotate(90deg);
    // background:none;
    // box-shadow: none;
}
}
$headshotPx:35px;
.userInfoBox {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 1000;
}
.userInfoBox img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.userInfoBox .icons {
  display: flex;
  gap: 10px;
}
.userInfoBox .icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.usersOnline {
  cursor: pointer;
}
.usersOnline {
    background-color: #410b4b;
    max-width: $headshotPx;
    min-width: $headshotPx;
    min-height: $headshotPx;
    border-radius: 50%;
    border: 3px solid gold; /* Assuming $gold is a variable, replace it with an actual color if you're not using a preprocessor */
    /* Overlap each circle by adjusting the X translation */
    /* Each circle will be moved to the left by 15px more than the previous one */
    margin-left: -15px;
      overflow: hidden;
    transform-style: preserve-3d;
    transition-duration: .4s;
    transform: scale(1);
}
.usersOnline:hover{
    transform-style: preserve-3d;
    transition-duration: .4s;
    z-index: 5;
    transform: scale(1.4);
    
}
.usersOnline img{
    width: 100%;
      overflow: hidden;
}
.inputBar{
   // z-index: 2;
   // position:absolute;
   // margin: 2%;
   padding: 2%;
    bottom: 0;
    left:0;
    width:95%;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 8fr 3fr;
    @media (max-width:768px) {
        padding: 0%;
       // height: 8%;
        width: 88%;
        margin: 8%;
    }
  }
  .inputBar input{
height: 91%;
font-size: 1.6rem;
@media (max-width:768px) {
    font-size: .8rem;
    height: 50%;
    padding: 2%;
    
}
  }
  .inputBar button{
    width:100%;
    font-size: 1.5rem;
    padding: 1%;
  }


.message {
display: grid;
    grid-template-columns: 2fr 8fr 1fr;
margin-bottom: 10px;
width: 98%;
padding: 5px;
border-radius: 5px;
//box-shadow: inset 2px 2px 1px $black;
//border: 1px solid $black;
background:linear-gradient(to right,rgba(128, 0, 128, 0.56),rgba(255, 217, 0, 0.229),$purple,$purple,$purple,$purple,$purple,$purple,$purple,$purple,$purple) /* Light grey background */
}

#messages:first-child{
    padding: 2%;
    margin-top: 4%;
}
.messageUser {
    margin: 1%;
    font-weight: bold;
    margin-right: 5px;
}
.message img{
    background-color: #410b4b;
    max-width: $headshotPx;
    min-width: $headshotPx;
    min-height: $headshotPx;
    border-radius: 50%;
    border: 3px solid gold;
    max-width: 40px;
}
.messageText {
    text-align: left;

    /* Additional styling as needed */
}
#confettiCanvas{
    background-color: transparent;
    z-index: -1;
    position: absolute;
    width: 98%;
    height: 98%;
    top:0;
    left: 0;
}
#confettiControls{
    display: none;
    position: fixed;
    width: 200px;
    bottom:2%;
    left:-25%;
}
.imageThumbs{
    display: flex;
}
//
@mixin authViewSetup() {
  display: flex;
  justify-content: center;
  align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 360px;
    width: 96%;
    margin: 2%;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.719);
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
  }
  
  .auth_view_true {
    @include authViewSetup();
  }
  
  .auth_view_false {
    @include authViewSetup();
  }
  
  .expanded {
    position: fixed;
    top:6%;
    left: 1%;
    min-height: 79vh;
    width: 94%;
    z-index:5;
    margin-top: 12vh;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none; // initially hidden
  }
  

#notifications{
    border: 1px solid $gold;
}

#regWindow, #loginWindow, #resetEmailInput, #emailLoginForm{
    display:none;
}
@keyframes fadeIn{
    0%{opacity: 0; transform:translateY(-40px)}
    100%{opacity: 1; transform:translateY(-0px)}
}
.authOpts{
padding:2%;
margin: 2%;
font-size: 1.2rem;
}
#authOptsLesser{

}
.loginFlows{
    padding: 5%;
    animation: fadeIn .5s ease-out 1 0s;
    transform-style: preserve-3d;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
}
@keyframes flashMsg{
0%{transform:scale( 0%);max-height: 100%};
90%{transform:scale(100%);max-height: 100%};
99%{transform:scale(10%);max-height: 100%};
100%{transform:scale( 0%);max-height: 0%};
}
#flashErrors{
  transform: scale(0%);
  max-height: 0;
  transform-style: preserve-3d;
  
animation:flashMsg 2.8s ease-in-out 0s 1 ;
}
#localVideo{
  width:100%;
}
#remoteVideo{
  width:100%;
}
// .games_inner{
// display: flex;
// align-items: center;
// justify-items: center;
// align-content: space-around;
// }
// #game-container{
//   align-self: center;
//  // position: absolute;
//   //top:20%;
//   width: 100%;
//  // margin: 5%;
//  // min-height: 90%;
//  // padding:50%;
//   background-color: white;
// }
#game-container {
  color: black;
  width: 90%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.442);
}
#chatTabs {
  overflow-y: scroll;
  background-color: #c878d7;
  display: flex;
  min-width: 100%;
  border-bottom: 2px solid #333; /* Border to separate tabs from content */
  }
  
  .tab_section {
    color: $gold;
    background-color: #410b4b;
    flex: 1; /* Ensures tabs are equally spaced */
    // min-height: 40px; /* Adjust height to ensure enough space */
    
    border: 1px solid #ccc; /* Border around each tab */
    border-bottom: none; /* Remove bottom border to connect with content area */
    padding: 10px; /* Padding for better click area */
    text-align: center; /* Center text within tabs */
    cursor: pointer; /* Pointer cursor to indicate clickable tabs */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 18px;
    border-top-left-radius: 8px;
    }
    
    .tab_section:hover {
      background-color: #f0f0f0; /* Light grey background on hover */
      color: #410b4b; /* Text color change on hover */
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 18px;
      border-top-left-radius: 8px;
      }
      .tab_section.join{
        color: $gold;
        background-color: #8a3898;
      
      }
      .tab_section.active {
        border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      background-color: $gold; /* Active tab background color */
      color: $purple; /* Active tab text color */
      border-bottom: 2px solid #410b4b; /* Match the bottom border with background color */
      }
      