
<button class="collapsible">Get Notifications<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/notifications/all"></div>
<button class="collapsible">Add Notification<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/notifications/renderAddForm"></div>
