<div class="adminWindow">
    <div class="adminStatsRow">
      <% documents.forEach(notification => { %>
        <div class="adminStat">
          <p><%= notification.title %></p>
          <img alt="Notification icon" src="<%= notification.iconImage %>">
          <button class="collapsible">view: <span class="carrot">&#9654;</span></button>
          <div class="content" data-url="/notifications/renderEditForm/<%= notification._id %>"></div>
        </div>
      <% }) %>
    </div>
  </div>
  