<div class="adminWindow">
    <div class="adminStatsRow">
      <% documents.forEach(transaction => { %>
        <div class="adminStat">
          <p><%= transaction.name %></p>
          <img alt="Transaction image" src="<%= transaction.mediumIcon %>">
          <button class="collapsible">view: <span class="carrot">&#9654;</span></button>
          <div class="content" data-url="/transactions/renderEditForm/<%= transaction._id %>"></div>
       <h3>add multiple images to slides</h3>
          <form action="/transactions/<%=transaction._id%>/upload-images" method="post" enctype="multipart/form-data">
            <input type="file" name="images" multiple>
            <button type="submit">Upload</button>
        </form>
              </div>
      <% }) %>
    </div>
  </div>
  
  
  