<div class="adminWindow">
    <div class="adminStatsRow">
      <% documents.forEach(gameElement => { %>
        <div class="adminStat">
          <!-- Display Game Element Name -->
          <p><%= gameElement.name %></p>
  
          <!-- Display Game Element Image -->
          <img alt="Game Element Image" src="<%= gameElement.image %>" width="100" height="100">
  
          <!-- Button to View/Edit Game Element Details -->
          <button class="collapsible">View/Edit: <span class="carrot">&#9654;</span></button>
          <div class="content" data-url="/games/gameElements/renderEditForm/<%= gameElement._id %>"></div>
          
          <!-- Section to Upload Multiple Images for Slides -->
          <h3>Add Multiple Images to Slides</h3>
          <form action="/games/gameElements/<%= gameElement._id %>/upload-images" method="post" enctype="multipart/form-data">
            <input type="file" name="images" multiple>
            <button type="submit">Upload</button>
          </form>
        </div>
      <% }) %>
    </div>
  </div>
  
  