<script>
  const socket = io('/socketAdmin');

  socket.on('connect', () => {
      socket.emit('info'); // Request global info from the server
  });

  socket.on('info', (data) => {
      document.getElementById('usersOnline').innerText = `Users Online: ${data.usersOnline}`;
      document.getElementById('latestSignups').innerHTML = `Latest Signups:<ul>${data.latestSignups.map(signup => `<li>${signup}</li>`).join('')}</ul>`;
      document.getElementById('activeChats').innerHTML = `Active Chats:<ul>${data.activeChats.map(chat => `<li>${chat}</li>`).join('')}</ul>`;
  });
</script>
