
<!--/views/admin/chat/index.ejs-->
/views/admin/chat/index.ejs.ejs
<h3>ADMIN VIEW FOR CHAT</h3>
<button class="collapsible">Load Something<span class="carrot">&#9654;</span></button>
<div class="content" data-url="chat/load" ></div>
