
<!--/views/admin/chat/index.ejs-->
chat.ejs

<button class="collapsible">Load Something<span class="carrot">&#9654;</span></button>
<div class="content" data-url="chat/load" ></div>
<script src="/socket/socket.io.js">

</script>
<script>
    socket.on('users in chat',(data)=>{
        socket.emit('users in chat')
    })
    socekt.on('newest message', (data)=>{

    })
</script>