<button class="collapsible">Create Help Section <span class="carrot">&#9654;</span></button>
<div class="content" data-url="/helps/renderAddForm"></div>
<button class="collapsible">Get Help Sections <span class="carrot">&#9654;</span></button>
<div class="content" data-url="/helps/all"></div>
<button class="collapsible">Create FAQ<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/helps/faqs/renderAddForm"></div>
<button class="collapsible">Get FAQ's <span class="carrot">&#9654;</span></button>
<div class="content" data-url="/faqs/all"></div>