<div class="adminWindow">
    <div class="adminStatsRow">
      <% documents.forEach(faq => { %>
        <div class="adminStat">
          <p><%= faq.name %></p>
          <img alt="Faq image" src="<%= faq.mediumIcon %>">
          <button class="collapsible">view: <span class="carrot">&#9654;</span></button>
          <div class="content" data-url="/helps/faqs/renderEditForm/<%= faq._id %>"></div>
        </div>
      <% }) %>
    </div>
  </div>
  
  
  