<form action="/userAvatarUpload" method="post" enctype="multipart/form-data">
    <label for="avatar">Choose an avatar:</label>
    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
    <input type="submit" value="Upload">
  </form>
  