
    <h2>Upload Image</h2>
    <form action="http://localhost:3000/userImgUpload" method="post" enctype="multipart/form-data">
        <label for="image">Choose image to upload:</label>
        <input type="file" id="image" name="image" required>
        <br><br>
        <button type="submit">Upload Image</button>
    </form>

