<div id="help">
  <button class="collapsible">FAQs<span class="carrot">&#9654;</span></button>
  <div data-url="/users/help/faqs" class="content"></div>

  <button class="collapsible">How To Directions<span class="carrot">&#9654;</span></button>
  <div data-url="/users/help/directions"  class="content"></div>

  <button class="collapsible">How To Video<span class="carrot">&#9654;</span></button>
  <div data-url="/users/help/how-to-videos" class="content"></div>

  <button class="collapsible">Open a Ticket Here<span class="carrot">&#9654;</span></button>
  <div data-url="/users/help/tickets" class="content"></div>
</div>

<style>
  .collapsible {
      background-color: #f9f9f9;
      color: #333;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 18px;
      transition: background-color 0.3s;
  }

  .active, .collapsible:hover {
      background-color: #ccc;
  }


  .carrot {
      float: right;
      transition: transform 0.3s;
  }

  .rotate {
      transform: rotate(90deg);
  }
</style>
