<div id="help">
  <button class="collapsible">FAQs<span class="carrot">&#9654;</span></button>
  <div data-url="/users/help/faqs" class="content"></div>

  <button class="collapsible">How To Directions<span class="carrot">&#9654;</span></button>
  <div data-url="/users/reader/grid/help"  class="content"></div>

  <button class="collapsible">How To Video<span class="carrot">&#9654;</span></button>
  <div data-url="/users/help/helpVideos" class="content"></div>

  <button class="collapsible">Open a Ticket Here<span class="carrot">&#9654;</span></button>
  <div data-url="/users/tickets/all" class="content"></div>
  <div class="spacer_50"></div>
</div>


