subscriptions.ejs

<button class="collapsible">Get Subs<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/subscriptions/all"></div>
<button class="collapsible">Create a Sub<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/subscriptions/renderAddForm"></div>
<div class="adminWindow">
    subscription reporting here
</div>