
  <div class="adminWindow">
      <div class="adminStatsRow">
    <% documents.forEach(subscription => { %>
        <div class="adminStat">
          <p>  <%= subscription.name %></p>
          <img alt="Add image to webapp." src="<%= subscription.mediumIcon %>">  
          <button class="collapsible" >view: <span class="carrot">&#9654;</span></button>
          <div class="content" data-url="/subscriptions/renderEditForm/<%=subscription._id%>"></div>
        </div>

        <!-- Add more fields as needed -->
        <% }) %>
    </div>
  </div>
  