
<div class="adminWindow">
    <div>User Data for the App</div>
</div>
<div class="main"></div>
    <button class="collapsible">Get Users<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/users/paginateUsers"></div>