
<button class="collapsible">Get Destinations<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/destinations/all"  ></div>
<button class="collapsible">Get Excursions<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/excursions/all" ></div>
<button class="collapsible">Get Travel Section<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/travels/all" ></div>
<button class="collapsible">Create Destination<span class="carrot">&#9654;</span></button>
<div class="content"  data-url="/destinations/renderAddForm" ></div>
<button class="collapsible">Create Excursions<span class="carrot">&#9654;</span></button>
<div class="content"   data-url="/excursions/renderAddForm" ></div>