<div class="adminWindow">
    <div class="adminStatsRow">
      <% documents.forEach(travel => { %>
        <div class="adminStat">
          <p><%= travel.name %></p>
          <img alt="Travel image" src="<%= travel.mediumIcon %>">
          <button class="collapsible">view: <span class="carrot">&#9654;</span></button>
          <div class="content" data-url="/travels/renderEditForm/<%= travel._id %>"></div>
          <h3>add multiple images to slides</h3>
          <form action="/travels/<%=travel._id%>/upload-images" method="post" enctype="multipart/form-data">
            <input type="file" name="images" multiple>
            <button type="submit">Upload</button>
        </form>
        </div>
      <% }) %>
    </div>
  </div>