<div class="adminWindow">
    <div class="adminStatsRow">
      <% documents.forEach(travel => { %>
        <div class="adminStat">
          <p><%= travel.name %></p>
          <img alt="Travel image" src="<%= travel.mediumIcon %>">
          <button class="collapsible">view: <span class="carrot">&#9654;</span></button>
          <div class="content" data-url="/travel/renderEditForm/<%= travel._id %>"></div>
        </div>
      <% }) %>
    </div>
  </div>