
    <button class="collapsible">Get Sections<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/sectionSettings/all"></div>
    <button class="collapsible">Add Sections<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/sectionSettings/renderAddForm"></div>
    <button class="collapsible">Update Settings<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/webappSettings/renderEditForm/668ae7d245fe0f9cb72bf44f"></div>
  
