
    <button class="collapsible">Get Images<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/media/getDirectories"></div>
    <div id="imageGrid"></div>
    <button class="collapsible">Get Videos<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/media/videos"></div>
    <div id="videoGrid"></div>
    <button class="collapsible">Get Sections<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/sectionSettings/all"></div>
    <button class="collapsible">Add Sections<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/sectionSettings/renderAddForm"></div>
    
    <button class="collapsible">Update Settings<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/webappSettings/renderEditForm/66e0908738238dcd508b8bb8"></div>
  
    
    <button class="collapsible">Get Gems<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/gems/all"></div>
    <button class="collapsible">Add Gems<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/gems/renderAddForm"></div>
    
