<!--webappSettings.ejs-->

<form action=""></form>
//DESIGN FORM
//main banner desktop
//main banner cell
//main Logo 500x500
//thumbnail logo
//sign in icon
//dashboard icon
//chat icon
//border radius banner
//border radius main-content-box
//border, width style colorsettings
//box-shadow,inset t/f, width style colorsettings
//main font
//main font color
//secondary font
//secondary font color
//bkgrd-main color
//chat gradient with 5 hex inputs and to directrion dropdown
//google login icon
//facebook login icon
//password login icon
//register icon
//link color <a></a>
//ADDTIITONAL DESIGN
//input background
//input box-shadow
//input font-family
//input font-weight
//input font-conlor


