USER IMAGES.ejs
<%if(typeof user.images === 'object' && user.images){%>




<%for (let i =0;i<user.images.length;i++){%>
    <div class="imageThumbs">
        <div class="thumb"><img src="  <%=user.images[i].thumbnailUrl%>" alt=""></div>
</div>
    <%}%>
    
    
    
    
    
    
    
    
    
    <%}%>