<div id="settings">
  <button class="collapsible">Avatar Settings<span class="carrot">&#9654;</span></button>
  <div class="content" data-url="/users/avatars/returnUserAvatar"></div>

  <!--MYIMAGES BUTTON REMOVED-->
<!--MYIMAGES BUTTON REMOVED-->

  <button class="collapsible">Website Settings<span class="carrot">&#9654;</span></button>
  <div class="content" data-url="/users/userSettings/renderAddForm"></div>

  <button class="collapsible">Custom Settings<span class="carrot">&#9654;</span></button>
  <div class="content"><%- include('customSettings') %></div>
 <div class="spacer_50"></div>
</div>
