<div id="settings">
    <div class="collapse-section">
        <h3 class="collapse-trigger" id="collapse_userImages"><span class="collapse_carrot">^</span> Your Images </h3>
        <div class="collapsible" id="userImages"><%-include('images')%></div>
    </div>
    <div class="collapse-section">
         <h3 class="collapse-trigger" id="collapse_websiteSettings"><span class="collapse_carrot">^</span> Website Settings </h3> 
          <div class="collapsible" id="websiteSettings"><%-include('websiteSettings')%></div>
    </div>
</div>
<script>

document.addEventListener('DOMContentLoaded', function () {
    var collapseTriggers = document.querySelectorAll('.collapse-trigger');
    collapseTriggers.forEach(function(trigger) {
        trigger.addEventListener('click', function() {
            var content = this.nextElementSibling; // Targets the .collapsible div
            content.classList.toggle('collapsed');
            // Toggle the rotated class on the caret
            var caret = this.querySelector('.collapse_carrot');
            if (content.classList.contains('collapsed')) {
                caret.classList.add('rotated');
            } else {
                caret.classList.remove('rotated');
            }
        });
    });
});



</script>