<div id="settings">
    <button class="collapsible">Avatar Settings<span class="carrot">&#9654;</span></button>
    <div class="content" ><%- include('images') %></div>

    <button class="collapsible">Website Settings<span class="carrot">&#9654;</span></button>
    <div class="content" ><%- include('websiteSettings') %></div>

    <button class="collapsible">Custom Settings<span class="carrot">&#9654;</span></button>
    <div class="content" ><%- include('customSettings') %></div>
</div>

<style>
    .collapsible {
        background-color: #f9f9f9;
        color: #333;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 18px;
        transition: background-color 0.3s;
    }

    .active, .collapsible:hover {
        background-color: #ccc;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: visible;
        background-color: #f1f1f1;
    }

    .carrot {
        float: right;
        transition: transform 0.3s;
    }

    .rotate {
        transform: rotate(90deg);
    }
</style>

