<!--ejs partial no head or body here-->

  <!--views/videoChannels/channel_1.ejs-->
  <!--This is where the overlay goes, the connected client should automatically receive the played video here-->
  <div class="container">
    <h1>Awaiting Video...</h1>
</div>

<div id="videoOverlay" style="display: none;">
<video id="overlayVideo" controls style="max-width: 80%; max-height: 80%;"></video>
<button id="closeBtn">Close</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  console.log('CHANNEL_1.EJS ~ DOM fully loaded and parsed.');

  const socket = io('/video_production');
  const videoOverlay = document.getElementById('videoOverlay');
  const overlayVideo = document.getElementById('overlayVideo');
  const closeBtn = document.getElementById('closeBtn');

  closeBtn.addEventListener('click', () => {
    console.log('Close button clicked. Hiding overlay.');
    videoOverlay.style.display = 'none';
    overlayVideo.pause();
  });

  socket.on('connect', () => {
    console.log('CHANNEL_1.EJS~ Connected to video_production namespace.');
  });

  socket.on('overlay update', (data) => {
    console.log('Received overlay update:', data);
    overlayVideo.src = data.videoUrl;
    videoOverlay.style.display = 'flex';
    overlayVideo.play();
  });
});
</script>
