<button class="collapsible">Get Tickets<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/tickets/all"></div>

<button class="collapsible">Create a Ticket<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/tickets/renderAddForm"></div>
