
<button class="collapsible">Get Calendar<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/calendar/day"></div>
<button class="collapsible">Create an Event<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/events/renderAddForm"></div>