
<button class="collapsible">Get Blogs<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/blogs/all"></div>
<button class="collapsible">Create Blogs<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/blogs/renderAddForm"></div>

<button class="collapsible">Get Votes<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/votes/all"></div>
<button class="collapsible">Create Votes<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/votes/renderAddForm"></div>