
<button class="collapsible">Get Blogs<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/blogs/all">Content for Tickets</div>
<button class="collapsible">Create Blogs<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/blogs/renderAddForm">Content for Tickets</div>