clubs.ejs

<button class="collapsible">Get Clubs<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/clubs/all"></div>
<button class="collapsible">Create a Club<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/clubs/renderAddForm"></div>
<div class="adminWindow">
    club reporting here
</div>