<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clubs</title>
</head>
<body>
  <div class="sectionWindow">
    <div class="sectionRow">
      <% clubs.forEach(club => { %>
        <div class="sectionView">
          <p><%= club.name %></p>
          <img alt="Club image" src="<%= club.mediumIcon %>">  
        </div>
      <% }) %>
    </div>
  </div>

