<div class="adminWindow">
  <div class="adminStatsRow">
    <% documents.forEach(club => { %>
      <div class="adminStat">
        <p><%= club.name %></p>
        <img alt="Club image" src="<%= club.mediumIcon %>">
        <button class="collapsible">view: <span class="carrot">&#9654;</span></button>
        <div class="content" data-url="/clubs/renderEditForm/<%= club._id %>"></div>
      </div>
    <% }) %>
  </div>
</div>


