<div id="sendMarquee">
    <h1>Send a Marquee</h1>
    <select name="marqueeMessage" id="marqueeMessage">
<%if(typeof marquee == 'object'){%>
  <% marquee.forEach(msg =>{%>
    <option name="id" value="<%=msg.title%> ~~ <%=msg.description%> ~~ <%=msg.linkUrl%>"><%= msg.title%></option>
    <%})%>
  <%}%>
    </select>
    <button class="marqueeButton">Send Marquee</button>
  </div>


  <button class="collapsible">Get Marquees<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/marquees/all"></div>

<button class="collapsible">Create a Marquee<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/marquees/renderAddForm"></div>
