<div id="sendMarquee">
    <h1>Send a Marquee</h1>
    <select name="marqueeMessage" id="marqueeMessage">
      <option value="hi from the marquee">Hi from the marquee</option>
      <option value="new video just dropped">New video just dropped</option>
    </select>
    <button class="marqueeButton">Send Marquee</button>
  </div>


  <button class="collapsible">Get Marquees<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/marquees/all"></div>

<button class="collapsible">Create a Marquee<span class="carrot">&#9654;</span></button>
<div class="content" data-url="/marquees/renderAddForm"></div>
